html,
body {
    background-color: #464A50;
    color: rgb(122, 232, 70);
    text-shadow: 1.5px 1.5px 3px black, 0 0 0.3em rgb(122, 232, 70), 0 0 0.1em rgb(122, 232, 70);
    font-family: 'Acme', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    font-size: xx-large
}

.container {
    width: 80%;
    background-color: rgba(191, 226, 179, 10%);
    margin: 0 auto;
}

.invitationText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    padding: 2em 0;
}

#button {
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: 2em;
    background-color: rgb(122, 232, 70);
    width: 10em;
    height: 2em;
    border-radius: 1em;
}

#output {
    height: 400px;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
}